* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
  text-transform: capitalize;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
  text-transform: capitalize;
}

h4 {
  font-size: 20px;
  color: #222;
  text-transform: capitalize;
}
p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
  text-transform: capitalize;
}
h6 {
  font-size: 12px;
  font-weight: 700;
  text-transform: capitalize;
}
.btn {
  background-color: #fff;
  outline: none;
  border: none;
  display: block;
  width: fit-content;
  padding: 15px 30px;
  border-radius: 4px;
  color: #000;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: 0.5s;
}
.section-padding {
  padding: 40px 80px;
}
.section-margin {
  margin: 40px 0;
}
body {
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #e3e6f3;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 55;
}
#links {
  display: flex;
  align-items: center;
  justify-content: center;
}
#links li {
  list-style: none;
  padding: 0px 15px;
}
#links li a {
  text-decoration: none;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.5s;
  position: relative;
}
#links li a:hover,
#links li .active {
  color: #088178;
}
#links li .active::after,
#links li a:hover::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -7px;
  width: 40%;
  height: 3px;
  background-color: #088178;
}
.hero {
  background-image: url(../images/hero.png);
  background-size: cover;
  height: 90vh;
  width: 100%;
  background-position: top 25% right 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 80px;
}
.hero h1 {
  color: #088178;
}
.hero button {
  border: 0;
  background-image: url(../images/button.png);
  background-repeat: no-repeat;
  background-color: transparent;

  padding: 15px 80px 15px 77px;
  color: #088178;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 700;
}
/* header end ***********/
/* start features------------- */
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.cont-features {
  padding: 25px 15px;
  width: 200px;
  text-align: center;
  box-shadow: 20px 20px 35px rgba(0, 0, 0, 0.03);
  margin: 15px 0px;
  border: 1px solid #cce7d0;
  transition: 0.5s;
  border-radius: 4px;
}
.cont-features:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.01);
}
.cont-features img {
  max-width: 100%;
  margin-bottom: 15px;
}
.cont-features h6 {
  padding: 9px 10px;
  background-color: #fdd;
  display: inline-block;
  border-radius: 5px;
  text-transform: capitalize;
  color: #088178;
  line-height: 1;
}
.cont-features:nth-child(2) h6 {
  background-color: #cdebbc;
}

.cont-features:nth-child(3) h6 {
  background-color: #d1e8f2;
}
.cont-features:nth-child(4) h6 {
  background-color: #cdd4f8;
}
.cont-features:nth-child(5) h6 {
  background-color: #f6dbf6;
}
.cont-features:nth-child(6) h6 {
  background-color: #fff2e5;
}
/* }
start products  */

.products {
  text-align: center;
}
.container-products {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pro {
  width: 23%;
  min-width: 250px;
  border: 1px solid #cce7d0;
  padding: 10px 12px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
  margin: 15px 0;
  transition: 0.5s;
  position: relative;
}

.pro::after {
  position: absolute;
  content: "";
  background-color: #e8f6ea;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 25px;
  transition: 0.5s;
}
.pro:hover::after {
  width: 100%;
}
.container-products img {
  width: 100%;
  margin-bottom: 9px;
  border-radius: 20px;
}
.marka {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px 0px;
}
.marka span {
  color: #444;
  font-size: 12px;
  text-transform: capitalize;
}
.pro h5 {
  padding-top: 7px;
  text-transform: capitalize;
}
.pro h4 {
  padding-top: 7px;
  font-size: 15px;
  color: #088178;
  font-weight: 700;
}
.cart {
  position: absolute;
  bottom: 30px;
  right: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #e8f6ea;
  border-radius: 50px;
  color: #088178;
  border: 1px solid #cce7d0;
  font-weight: 500px;
}
.marka .star i {
  color: rgb(228, 214, 24);
  padding-top: 7px;
  font-size: 12px;
}

/* start banner*********** */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
.banner h4 {
  color: #fff;
  font-size: 16px;
}
.banner h2 {
  padding: 10px 0;
  color: #fff;
  font-size: 30px;
}
.banner h2 span {
  color: #ef3636;
}
.banner button {
  transition: 0.5s;
}
.banner button:hover {
  background-color: #088178;
  color: #fff;
}

/* start sm-manner****************** */
.sm-manner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sm-manner .banner-box {
  background-image: url(../images/banner1.jpg);
  background-size: cover;
  background-position: center;
  min-width: 580px;
  height: 50vh;
  color: #fff;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 30px 30px;
}
.sm-manner .banner-box h2 {
  color: #fff;
  font-size: 30px;
  text-transform: lowercase;
}
.sm-manner .banner-box h4 {
  color: #fff;
  font-size: 19px;
}
.sm-manner .banner-box span {
  font-size: 14px;
  font-weight: 400;
}
.sm-manner .banner-box button {
  background-color: transparent;
  margin-top: 15px;
  border: 1px solid #fff;
  color: #fff;
  padding: 11px 18px;
}
.sm-manner .banner-box:hover button {
  background-color: #088178;
  border: 1px solid #088178;
}
.sm-manner .box-two {
  background-image: url(../images/banner2.jpg);
}
.sm-manner .box-three {
  min-width: calc(100% / 3 - 40px);
  margin-top: 30px;
  background-image: url(../images/parallax.jpg);
}
.sm-manner .box-three span {
  color: rgb(255, 0, 34);
  text-transform: capitalize;
}
.sm-manner .box-three h2 {
  text-transform: uppercase;
  font-size: 23px;
}
.sm-manner .box-four h2 {
  text-transform: uppercase;
  font-size: 23px;
}
.sm-manner .box-five h2 {
  text-transform: uppercase;
  font-size: 23px;
}
.sm-manner .box-four {
  min-width: calc(100% / 3 - 40px);
  margin-top: 30px;
  background-image: url(../images/b6.jpg);
}
.sm-manner .box-four span {
  color: rgb(255, 0, 34);
  text-transform: capitalize;
}
.sm-manner .box-five {
  min-width: calc(100% / 3 - 40px);
  margin-top: 30px;
  background-image: url(../images/banner7.webp);
}
.sm-manner .box-five span {
  color: rgb(255, 0, 34);
  text-transform: capitalize;
}
.banner-box {
  position: relative;
  z-index: 6;
}
.banner-box::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  background-color: #cdd4f8;
  transition: 0.5s;
}
.banner-box:hover::after {
  height: 100%;
  z-index: -1;
}
/* start letter-******** */
.letter {
  width: 100%;
  height: 25vh;
  background-color: #1a1a1a;
  color: #fff;
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.letter h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 600;
}
.letter p {
  color: #fff;
  margin-top: 0px;
  font-size: 14px;
}
.letter p span {
  color: #ffbd27;
}

.letter .form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.letter .form form {
  display: flex;
  width: 100%;
}
.letter ::placeholder {
  font-size: 12px;
  text-transform: capitalize;
}
.letter .form input[type="email"] {
  background-color: #fff;
  padding: 10px 20px;
  width: 70%;
  border: none;
  outline: none;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.letter .form button {
  background-color: #088178;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 4px;
  white-space: nowrap;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 20px;
  width: 30%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}

/* start footer ***********/
.footer .info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer .info .foot-one h4 {
  color: #444;
  font-weight: 700;
  font-size: 14px;
}
.foot-one img {
  width: 80px;
  margin-bottom: 10px;
}
.footer .info .foot-one .text {
  padding-top: 19px;
  display: flex;
  align-items: center;
  margin-bottom: -12px;
}
.footer .info .foot-one h4 {
  padding: 0;
  margin: 0;
}
.footer .info .foot-one p {
  padding: 0;
  margin: 0;
  color: #777;
  font-size: 15px;
  margin-left: 5px;
}
.footer .first {
  margin-top: -10px;
}
.footer .social {
  margin-top: 30px;
  display: flex;
}
.footer .social li {
  list-style: none;
  margin-right: 5px;
}
.footer .social li a {
  color: #777;
  font-size: 17px;
  transition: 0.5s;
}
.footer .social li i:hover {
  transform: scale(1.1);
  color: #088178;
}
.footer .last {
  margin-top: 30px;
}
.foot-one span {
  color: red;
  display: block;
  margin-bottom: 10px;
}
.foot-two h4,
.foot-three h4 {
  font-size: 19px;
  margin-bottom: 15px;
  font-weight: 700;
}
.foot-two ul li {
  list-style: none;

  text-transform: capitalize;
}
.foot-two ul li a {
  text-decoration: none;
  color: #777;
  font-size: 15px;
  display: block;
  margin-bottom: 10px;
  transition: 0.5s;
}
.foot-two ul li a:hover {
  color: #088178;
  transform: translateX(3px);
}
.foot-three p {
  color: #777;
  font-size: 15px;
}
.foot-three .apps {
  display: flex;
}
.foot-three .apps img {
  width: 100%;
  margin-right: 4px;
  border-radius: 5px;
  cursor: pointer;

  border: 1px solid #cce7d0;
}
.payment {
  margin-top: 19px;
}
.footer .reserved {
  text-align: center;
  margin-top: 60px;
  color: #777;
  text-transform: capitalize;
  font-size: 18px;
  width: 100%;
}
/* medid quieries */
.mobile {
  display: none;
}
#close {
  display: none;
}
@media (max-width: 991px) {
  #links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.03);
    position: fixed;
    top: 0;
    right: -300px;
    padding: 80px 0 0 10px;
    overflow: hidden;
    transition: 0.4s;
  }
  #links li {
    margin-bottom: 25px;
  }
  .mobile {
    display: flex;

    align-items: center;
  }

  .mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    display: flex;
    color: #1a1a1a;
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 24px;
  }
  .header {
    max-width: 100%;
  }
  #lg-bag {
    display: none;
  }
  .hero {
    width: 100%;
    background-position: top 30% right 30%;
    height: 70vh;
  }
  .section-padding {
    padding: 40px;
  }
  .features {
    justify-content: center;
    align-items: center;
    padding: 40px 0;
  }

  .cont-features {
    margin: 15px 15px;
  }
  .container-products {
    justify-content: center;
    padding: 0px;
    margin: 0;
  }
  .pro {
    width: 24%;
    min-width: 250px;

    margin: 15px 15px;
  }
  .banner {
    height: 30vh;
    background-size: cover;
    background-position: center;
  }
  .sm-manner {
    display: flex;
    padding: 0px 20px;
    margin: 0;
  }
  .sm-manner .banner-box {
    width: 100%;
    margin-bottom: 15px;
    height: 30vh;
    margin-top: 0;
  }
  .sm-manner .box-three {
    width: 32%;
    background-position: top 30% right 30%;
    height: 30vh;
  }
  .sm-manner .box-four {
    width: 32%;

    height: 30vh;
    background-position: top 30% right 30%;
  }

  .sm-manner .box-five {
    width: 32%;
    height: 30vh;
    background-position: top 30%;
  }
  .letter {
    height: 25vh;
    padding: 40px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .letter .form {
    width: 100%;
  }
  .footer .social {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
  }
  .footer .last {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 10px 30px;
  }

  .hero {
    height: 70vh;
    width: 100%;
    background-position: 55%;

    padding: 0px 20px;
  }
  .hero h2 {
    font-size: 33px;
  }
  .hero h1 {
    font-size: 38px;
  }
  .features {
    justify-content: space-between;
    margin: 0px 10px;
    padding: 25px;
  }
  .cont-features {
    padding: 25px 20px;
    width: 48%;

    margin: 0 0 15px 0px;
  }
  .section-padding {
    padding: 20px;
  }
  .container-products {
    margin: 0;
    padding: 0;
  }
  .products {
    margin: 0;
    padding: 0;
  }
  .pro {
    width: 100%;
    margin: 10px 20px 10px 20px;
  }
  .banner {
    height: 40vh;
    padding: 20px;
  }
  .banner h2 {
    padding: 10px 0;

    font-size: 20px;
  }

  .sm-manner .banner-box {
    background-position: top 30% left 80%;
  }
  .sm-manner {
    margin: 20px 0px 5px;
    padding: 0px 20px;
  }
  .sm-manner .banner-box {
    min-width: 99%;
    height: 50vh;

    padding: 30px 30px;
    margin: 0;
    margin-bottom: 20px;
  }

  .footer .reserved {
    text-align: start;
  }
  .letter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin: 0;
    padding: 0 20px;
    width: 100%;
  }
  .form {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .text h2 {
    font-size: 20px;
    margin-bottom: -10px;
  }
  .text p {
    line-height: 1.7;
  }
  .apps {
    flex-direction: column;
  }
  .apps img:first-of-type {
    margin-bottom: 10px;
  }
  .footer {
    padding-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .letter {
    height: 40vh;
    padding: 40px;
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media (min-width: 991px) {
  .sm-manner {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
  }
  .sm-manner .banner-box {
    background-position: center;
    min-width: 49.2%;
    height: 50vh;
    color: #fff;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 30px 30px;
  }
  .sm-manner .box-three {
    width: 30%;
    margin-top: 15px;
  }
  .sm-manner .box-four {
    width: 30%;
    margin-top: 15px;
  }
  .sm-manner .box-five {
    margin-top: 15px;
  }
}
/* start shop page__________******************* */
.shop {
  background-image: url(../images/shop1.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.shop h2 {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 0;
}
.shop p {
  color: #fff;
  margin-top: 0px;
}
#pagenations {
  text-align: center;
}
#pagenations a {
  text-decoration: none;
  padding: 15px 20px;
  background-color: #088178;
  color: #fff;
  border-radius: 4px;
  font-weight: 600;
}

#pagenations a i {
  font-size: 16px;
}
/* start single image page **********/
.single-product {
  display: flex;
  justify-content: space-between;
}
.single-pro-image {
  width: 40%;
  margin-right: 20px;
}
.single-pro-image .images {
  display: flex;
  justify-content: space-between;
}
.single-pro-image .images img {
  width: 100%;
}
.small-image {
  width: 24%;
}
.pro-details {
  width: 55%;
}
.pro-details h4 {
  padding-top: 30px;
  color: #777;
  font-size: 17px;
}
.pro-details h3 {
  margin: 30px 0 20px 0;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 25px;
}
.pro-details h2 {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}
.pro-details select {
  padding: 10px;

  display: block;
  margin-bottom: 10px;
}
.pro-details select:focus {
  outline: none;
}
.pro-details button {
  background-color: #088178;
  outline: none;
  border: none;

  padding: 15px 30px;
  border-radius: 4px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: 0.5s;
}
.pro-details button:hover {
  background-color: #465b52;
}
.pro-details input {
  width: 45px;
  height: 45px;
  color: #777;
  padding: 3px;
  margin-right: 5px;
}
.pro-details input:focus {
  outline: none;
}
.pro-details h2 {
  margin-top: 15px;
  margin-bottom: 0;
}
.pro-details p {
  color: #666;
  line-height: 1.7;
  text-transform: capitalize;
  margin-top: 0;
}
@media (max-width: 767px) {
  .letter {
    margin-top: 30px;
  }
}

/* .single-product */
@media (max-width: 767px) {
  .single-product {
    display: flex;
    flex-direction: column;
  }
  .single-pro-image {
    width: 100%;
    margin-right: 0px;
  }
  .pro-details {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .letter {
    padding: 40px 80px;
  }
}

/* start blog page********* */
.blog-header {
  background-image: url(../images/b19.jpg);
  background-size: cover;
}
/* <!-- start blog section** --> */
.blog-section {
  padding: 140px 140px 0 140px;
}
.blog-box {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 90px;
}
.blog-image {
  width: 50%;
  margin-right: 40px;
}
.blog-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.blog-details {
  width: 50%;
}
.blog-details a {
  text-decoration: none;
  color: #222;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;

  position: relative;
  transition: 0.5s;
}
.blog-details a:hover {
  color: #088178;
}

.blog-details a::after {
  content: "";
  position: absolute;
  background-color: #000;
  right: -66px;
  top: 4px;
  width: 50px;
  height: 1px;
}
.blog-details a:hover::after {
  background-color: #088178;
}
.blog-box h2 {
  position: absolute;
  top: -40px;
  left: 0;
  color: #c9cbce;
  font-size: 70px;
  z-index: -1;
}
@media (max-width: 767px) {
  .blog-section {
    padding: 100px 20px 0 20px;
  }
  .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .blog-image {
    width: 100%;
    margin-right: 0px;
  }

  .blog-details {
    width: 100%;
    padding-top: 30px;
  }
}
/* end blog pageeeeeeeee? */
/* start about pageeeeeeeeeeeeee */
.about-header {
  background-image: url(../images/bannerabout.png);
}
.about-section {
  display: flex;
  align-items: center;
}
.image-about {
  width: 50%;
}
.about-section img {
  width: 100%;
  height: auto;
}
.about-details {
  width: 50%;
  padding-left: 30px;
}
.about-details p {
  line-height: 1.6;
}
.about-details marquee {
  background-color: #ccc;
}
.video-about {
  text-align: center;
}
.video {
  width: 70%;
  margin: 30px auto 0 auto;
  height: auto;
}
.video video {
  width: 100%;
  border-radius: 6px;
  height: 100%;
}

@media (max-width: 767px) {
  .about-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .image-about {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .about-details {
    width: 100%;
    padding-left: 0px;
  }
  .video-about h2 {
    font-size: 30px;
  }
  .video {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .about-details h2 {
    font-size: 30px;
  }
  
  
}
